defaults/flow.json
[{"id":"1eabab01.0c0885","type":"ibmiot in","z":"f3773c5d.6caa6","authentication":"apiKey","apiKey":"a8ea8bbe.a7b7a8","inputType":"evt","deviceId":"b827eb7e7bc0","applicationId":"","deviceType":"RaspberryPi","eventType":"piweathershield","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":262,"y":445,"wires":[["4fe4e2dd.446edc","58d8f121.26395","feabd42e.b564c8","3394449d.95aa7c"]]},{"id":"1c13662f.e35f9a","type":"ui_gauge","z":"f3773c5d.6caa6","name":"Temperature (°C)","group":"fea58051.5702d","order":1,"width":"","height":"","gtype":"gage","title":"","label":"","format":"{{value}}","min":"10","max":"40","colors":["#0088b5","#00b500","#ff8102"],"x":1122,"y":145,"wires":[]},{"id":"4fe4e2dd.446edc","type":"function","z":"f3773c5d.6caa6","name":"HTU21D","func":"return msg.payload.htu21d;","outputs":1,"noerr":0,"x":572,"y":205,"wires":[["a12e74e6.465f48","8d926dea.63d2d"]]},{"id":"a12e74e6.465f48","type":"function","z":"f3773c5d.6caa6","name":"Temperature","func":"return {payload: msg.temperature.toFixed(1)}","outputs":1,"noerr":0,"x":832,"y":165,"wires":[["1c13662f.e35f9a","c407b514.34f5d8"]]},{"id":"c407b514.34f5d8","type":"ui_chart","z":"f3773c5d.6caa6","name":"","group":"fea58051.5702d","order":1,"width":"","height":"","label":"","chartType":"line","xformat":"%H:%M:%S","interpolate":"linear","nodata":"No Data","ymin":"","ymax":"","removeOlder":1,"removeOlderUnit":"60","x":1082,"y":185,"wires":[[],[]]},{"id":"4dc3128d.dbd4bc","type":"ui_gauge","z":"f3773c5d.6caa6","name":"Humidity (%RH)","group":"fea58051.5702d","order":1,"width":"","height":"","gtype":"gage","title":"","label":"","format":"{{value}}","min":0,"max":"100","colors":["#0088b5","#00b500","#ff8102"],"x":1112,"y":225,"wires":[]},{"id":"8d926dea.63d2d","type":"function","z":"f3773c5d.6caa6","name":"Humidity","func":"return {payload: msg.humidity.toFixed(0)}","outputs":1,"noerr":0,"x":822,"y":245,"wires":[["4dc3128d.dbd4bc","7cdb5b7e.ecfa24"]]},{"id":"7cdb5b7e.ecfa24","type":"ui_chart","z":"f3773c5d.6caa6","name":"","group":"fea58051.5702d","order":1,"width":"","height":"","label":"","chartType":"line","xformat":"%H:%M:%S","interpolate":"linear","nodata":"No Data","ymin":"","ymax":"","removeOlder":1,"removeOlderUnit":"60","x":1082,"y":265,"wires":[[],[]]},{"id":"88a41ed7.59e11","type":"ui_gauge","z":"f3773c5d.6caa6","name":"Temperature (°C)","group":"14d9d85d.995968","order":1,"width":"","height":"","gtype":"gage","title":"","label":"","format":"{{value}}","min":"10","max":"40","colors":["#0088b5","#00b500","#ff8102"],"x":1122,"y":325,"wires":[]},{"id":"58d8f121.26395","type":"function","z":"f3773c5d.6caa6","name":"MS5637","func":"return msg.payload.ms5637;","outputs":1,"noerr":0,"x":572,"y":385,"wires":[["a4d8fdac.6f804","98e92f10.a897c"]]},{"id":"a4d8fdac.6f804","type":"function","z":"f3773c5d.6caa6","name":"Temperature","func":"return {payload: msg.temperature.toFixed(1)}","outputs":1,"noerr":0,"x":832,"y":345,"wires":[["88a41ed7.59e11","e56ca8b0.4cb538"]]},{"id":"e56ca8b0.4cb538","type":"ui_chart","z":"f3773c5d.6caa6","name":"","group":"14d9d85d.995968","order":1,"width":"","height":"","label":"","chartType":"line","xformat":"%H:%M:%S","interpolate":"linear","nodata":"No Data","ymin":"","ymax":"","removeOlder":1,"removeOlderUnit":"60","x":1082,"y":365,"wires":[[],[]]},{"id":"1c4cea2b.003c56","type":"ui_gauge","z":"f3773c5d.6caa6","name":"Pressure (hPa)","group":"14d9d85d.995968","order":1,"width":"","height":"","gtype":"gage","title":"","label":"","format":"{{value}}","min":"950","max":"1050","colors":["#0088b5","#00b500","#ff8102"],"x":1112,"y":405,"wires":[]},{"id":"98e92f10.a897c","type":"function","z":"f3773c5d.6caa6","name":"Pressure","func":"return {payload: msg.pressure.toFixed(2)}","outputs":1,"noerr":0,"x":822,"y":425,"wires":[["1c4cea2b.003c56","5b30c0cd.22983"]]},{"id":"5b30c0cd.22983","type":"ui_chart","z":"f3773c5d.6caa6","name":"","group":"14d9d85d.995968","order":1,"width":"","height":"","label":"","chartType":"line","xformat":"%H:%M:%S","interpolate":"linear","nodata":"No Data","ymin":"","ymax":"","removeOlder":1,"removeOlderUnit":"60","x":1082,"y":445,"wires":[[],[]]},{"id":"882ed385.13beb","type":"ui_gauge","z":"f3773c5d.6caa6","name":"Temperature (°C)","group":"dc83bd1d.36b5","order":1,"width":"","height":"","gtype":"gage","title":"","label":"","format":"{{value}}","min":"10","max":"40","colors":["#0088b5","#00b500","#ff8102"],"x":1122,"y":505,"wires":[]},{"id":"feabd42e.b564c8","type":"function","z":"f3773c5d.6caa6","name":"TSD305","func":"return msg.payload.tsd305;","outputs":1,"noerr":0,"x":572,"y":565,"wires":[["8a38cd9.44c1e3","9a807947.ef6658"]]},{"id":"8a38cd9.44c1e3","type":"function","z":"f3773c5d.6caa6","name":"Temperature","func":"return {payload: msg.temperature.toFixed(1)}","outputs":1,"noerr":0,"x":832,"y":525,"wires":[["882ed385.13beb","c1f5a068.cd8ef"]]},{"id":"c1f5a068.cd8ef","type":"ui_chart","z":"f3773c5d.6caa6","name":"","group":"dc83bd1d.36b5","order":1,"width":"","height":"","label":"","chartType":"line","xformat":"%H:%M:%S","interpolate":"linear","nodata":"No Data","ymin":"","ymax":"","removeOlder":1,"removeOlderUnit":"60","x":1082,"y":545,"wires":[[],[]]},{"id":"dade0bde.466aa8","type":"ui_gauge","z":"f3773c5d.6caa6","name":"Object Temperature (°C)","group":"dc83bd1d.36b5","order":1,"width":"","height":"","gtype":"gage","title":"","label":"","format":"{{value}}","min":"10","max":"40","colors":["#0088b5","#00b500","#ff8102"],"x":1142,"y":585,"wires":[]},{"id":"9a807947.ef6658","type":"function","z":"f3773c5d.6caa6","name":"Object","func":"return {payload: msg.object_temperature.toFixed(1)}","outputs":1,"noerr":0,"x":812,"y":605,"wires":[["dade0bde.466aa8","f1c37d9f.aa073"]]},{"id":"f1c37d9f.aa073","type":"ui_chart","z":"f3773c5d.6caa6","name":"","group":"dc83bd1d.36b5","order":1,"width":"","height":"","label":"","chartType":"line","xformat":"%H:%M:%S","interpolate":"linear","nodata":"No Data","ymin":"","ymax":"","removeOlder":1,"removeOlderUnit":"60","x":1082,"y":625,"wires":[[],[]]},{"id":"53ca6a17.b13754","type":"ui_gauge","z":"f3773c5d.6caa6","name":"Temperature (°C)","group":"87e86981.e797f8","order":1,"width":"","height":"","gtype":"gage","title":"","label":"","format":"{{value}}","min":"10","max":"40","colors":["#0088b5","#00b500","#ff8102"],"x":1122,"y":685,"wires":[]},{"id":"3394449d.95aa7c","type":"function","z":"f3773c5d.6caa6","name":"TSYS01","func":"return msg.payload.tsys01;","outputs":1,"noerr":0,"x":572,"y":705,"wires":[["1f27aa7c.250d56"]]},{"id":"1f27aa7c.250d56","type":"function","z":"f3773c5d.6caa6","name":"Temperature","func":"return {payload: msg.temperature.toFixed(1)}","outputs":1,"noerr":0,"x":832,"y":705,"wires":[["53ca6a17.b13754","548ee329.553f1c"]]},{"id":"548ee329.553f1c","type":"ui_chart","z":"f3773c5d.6caa6","name":"","group":"87e86981.e797f8","order":1,"width":"","height":"","label":"","chartType":"line","xformat":"%H:%M:%S","interpolate":"linear","nodata":"No Data","ymin":"","ymax":"","removeOlder":1,"removeOlderUnit":"60","x":1082,"y":725,"wires":[[],[]]},{"id":"a8ea8bbe.a7b7a8","type":"ibmiot","z":"f3773c5d.6caa6","name":"TE Connectivity / Raspberry Pi Weather Shield","keepalive":"60","cleansession":true},{"id":"fea58051.5702d","type":"ui_group","z":"","name":"HTU21D","tab":"580ec59.b6d593c","order":1,"disp":true,"width":"6"},{"id":"14d9d85d.995968","type":"ui_group","z":"","name":"MS5637","tab":"580ec59.b6d593c","order":2,"disp":true,"width":"6"},{"id":"dc83bd1d.36b5","type":"ui_group","z":"","name":"TSD305","tab":"580ec59.b6d593c","order":3,"disp":true,"width":"6"},{"id":"87e86981.e797f8","type":"ui_group","z":"","name":"TSYS01","tab":"580ec59.b6d593c","order":4,"disp":true,"width":"6"},{"id":"580ec59.b6d593c","type":"ui_tab","z":"f3773c5d.6caa6","name":"TE Connectivity / Raspberry Pi Weather Shield","icon":"dashboard","order":"1"}]
