defaults/flow.json
[
  {
    "id": "1c13662f.e35f9a",
    "type": "ui_gauge",
    "z": "355ec60c.807a7a",
    "name": "Temperature (\u00b0C)",
    "group": "fea58051.5702d",
    "order": 1,
    "width": "",
    "height": "",
    "gtype": "gage",
    "title": "",
    "label": "",
    "format": "{{value}}",
    "min": "10",
    "max": "40",
    "colors": [
      "#0088b5",
      "#00b500",
      "#ff8102"
    ],
    "x": 1050,
    "y": 180,
    "wires": [
      
    ]
  },
  {
    "id": "4fe4e2dd.446edc",
    "type": "function",
    "z": "355ec60c.807a7a",
    "name": "HTU21D",
    "func": "return msg.payload.htu21d;",
    "outputs": 1,
    "noerr": 0,
    "x": 620,
    "y": 240,
    "wires": [
      [
        "a12e74e6.465f48",
        "8d926dea.63d2d"
      ]
    ]
  },
  {
    "id": "a12e74e6.465f48",
    "type": "function",
    "z": "355ec60c.807a7a",
    "name": "Temperature",
    "func": "return {payload: msg.temperature.toFixed(1)}",
    "outputs": 1,
    "noerr": 0,
    "x": 820,
    "y": 200,
    "wires": [
      [
        "1c13662f.e35f9a",
        "c407b514.34f5d8"
      ]
    ]
  },
  {
    "id": "c407b514.34f5d8",
    "type": "ui_chart",
    "z": "355ec60c.807a7a",
    "name": "",
    "group": "fea58051.5702d",
    "order": 1,
    "width": "",
    "height": "",
    "label": "",
    "chartType": "line",
    "xformat": "%H:%M:%S",
    "interpolate": "linear",
    "nodata": "No Data",
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderUnit": "60",
    "x": 1010,
    "y": 220,
    "wires": [
      [
        
      ],
      [
        
      ]
    ]
  },
  {
    "id": "4dc3128d.dbd4bc",
    "type": "ui_gauge",
    "z": "355ec60c.807a7a",
    "name": "Humidity (%RH)",
    "group": "fea58051.5702d",
    "order": 1,
    "width": "",
    "height": "",
    "gtype": "gage",
    "title": "",
    "label": "",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": [
      "#0088b5",
      "#00b500",
      "#ff8102"
    ],
    "x": 1040,
    "y": 260,
    "wires": [
      
    ]
  },
  {
    "id": "8d926dea.63d2d",
    "type": "function",
    "z": "355ec60c.807a7a",
    "name": "Humidity",
    "func": "return {payload: msg.humidity.toFixed(0)}",
    "outputs": 1,
    "noerr": 0,
    "x": 810,
    "y": 280,
    "wires": [
      [
        "4dc3128d.dbd4bc",
        "7cdb5b7e.ecfa24"
      ]
    ]
  },
  {
    "id": "7cdb5b7e.ecfa24",
    "type": "ui_chart",
    "z": "355ec60c.807a7a",
    "name": "",
    "group": "fea58051.5702d",
    "order": 1,
    "width": "",
    "height": "",
    "label": "",
    "chartType": "line",
    "xformat": "%H:%M:%S",
    "interpolate": "linear",
    "nodata": "No Data",
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderUnit": "60",
    "x": 1010,
    "y": 300,
    "wires": [
      [
        
      ],
      [
        
      ]
    ]
  },
  {
    "id": "88a41ed7.59e11",
    "type": "ui_gauge",
    "z": "355ec60c.807a7a",
    "name": "Temperature (\u00b0C)",
    "group": "14d9d85d.995968",
    "order": 1,
    "width": "",
    "height": "",
    "gtype": "gage",
    "title": "",
    "label": "",
    "format": "{{value}}",
    "min": "10",
    "max": "40",
    "colors": [
      "#0088b5",
      "#00b500",
      "#ff8102"
    ],
    "x": 1050,
    "y": 340,
    "wires": [
      
    ]
  },
  {
    "id": "58d8f121.26395",
    "type": "function",
    "z": "355ec60c.807a7a",
    "name": "MS5637",
    "func": "return msg.payload.ms5637;",
    "outputs": 1,
    "noerr": 0,
    "x": 620,
    "y": 400,
    "wires": [
      [
        "a4d8fdac.6f804",
        "98e92f10.a897c"
      ]
    ]
  },
  {
    "id": "a4d8fdac.6f804",
    "type": "function",
    "z": "355ec60c.807a7a",
    "name": "Temperature",
    "func": "return {payload: msg.temperature.toFixed(1)}",
    "outputs": 1,
    "noerr": 0,
    "x": 820,
    "y": 360,
    "wires": [
      [
        "88a41ed7.59e11",
        "e56ca8b0.4cb538"
      ]
    ]
  },
  {
    "id": "e56ca8b0.4cb538",
    "type": "ui_chart",
    "z": "355ec60c.807a7a",
    "name": "",
    "group": "14d9d85d.995968",
    "order": 1,
    "width": "",
    "height": "",
    "label": "",
    "chartType": "line",
    "xformat": "%H:%M:%S",
    "interpolate": "linear",
    "nodata": "No Data",
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderUnit": "60",
    "x": 1010,
    "y": 380,
    "wires": [
      [
        
      ],
      [
        
      ]
    ]
  },
  {
    "id": "1c4cea2b.003c56",
    "type": "ui_gauge",
    "z": "355ec60c.807a7a",
    "name": "Pressure (hPa)",
    "group": "14d9d85d.995968",
    "order": 1,
    "width": "",
    "height": "",
    "gtype": "gage",
    "title": "",
    "label": "",
    "format": "{{value}}",
    "min": "950",
    "max": "1050",
    "colors": [
      "#0088b5",
      "#00b500",
      "#ff8102"
    ],
    "x": 1040,
    "y": 420,
    "wires": [
      
    ]
  },
  {
    "id": "98e92f10.a897c",
    "type": "function",
    "z": "355ec60c.807a7a",
    "name": "Pressure",
    "func": "return {payload: msg.pressure.toFixed(2)}",
    "outputs": 1,
    "noerr": 0,
    "x": 810,
    "y": 440,
    "wires": [
      [
        "1c4cea2b.003c56",
        "5b30c0cd.22983"
      ]
    ]
  },
  {
    "id": "5b30c0cd.22983",
    "type": "ui_chart",
    "z": "355ec60c.807a7a",
    "name": "",
    "group": "14d9d85d.995968",
    "order": 1,
    "width": "",
    "height": "",
    "label": "",
    "chartType": "line",
    "xformat": "%H:%M:%S",
    "interpolate": "linear",
    "nodata": "No Data",
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderUnit": "60",
    "x": 1010,
    "y": 460,
    "wires": [
      [
        
      ],
      [
        
      ]
    ]
  },
  {
    "id": "882ed385.13beb",
    "type": "ui_gauge",
    "z": "355ec60c.807a7a",
    "name": "Temperature (\u00b0C)",
    "group": "dc83bd1d.36b5",
    "order": 1,
    "width": "",
    "height": "",
    "gtype": "gage",
    "title": "",
    "label": "",
    "format": "{{value}}",
    "min": "10",
    "max": "40",
    "colors": [
      "#0088b5",
      "#00b500",
      "#ff8102"
    ],
    "x": 1050,
    "y": 500,
    "wires": [
      
    ]
  },
  {
    "id": "feabd42e.b564c8",
    "type": "function",
    "z": "355ec60c.807a7a",
    "name": "TSD305",
    "func": "return msg.payload.tsd305;",
    "outputs": 1,
    "noerr": 0,
    "x": 620,
    "y": 560,
    "wires": [
      [
        "8a38cd9.44c1e3",
        "9a807947.ef6658"
      ]
    ]
  },
  {
    "id": "8a38cd9.44c1e3",
    "type": "function",
    "z": "355ec60c.807a7a",
    "name": "Temperature",
    "func": "return {payload: msg.temperature.toFixed(1)}",
    "outputs": 1,
    "noerr": 0,
    "x": 820,
    "y": 520,
    "wires": [
      [
        "882ed385.13beb",
        "c1f5a068.cd8ef"
      ]
    ]
  },
  {
    "id": "c1f5a068.cd8ef",
    "type": "ui_chart",
    "z": "355ec60c.807a7a",
    "name": "",
    "group": "dc83bd1d.36b5",
    "order": 1,
    "width": "",
    "height": "",
    "label": "",
    "chartType": "line",
    "xformat": "%H:%M:%S",
    "interpolate": "linear",
    "nodata": "No Data",
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderUnit": "60",
    "x": 1010,
    "y": 540,
    "wires": [
      [
        
      ],
      [
        
      ]
    ]
  },
  {
    "id": "dade0bde.466aa8",
    "type": "ui_gauge",
    "z": "355ec60c.807a7a",
    "name": "Object Temperature (\u00b0C)",
    "group": "dc83bd1d.36b5",
    "order": 1,
    "width": "",
    "height": "",
    "gtype": "gage",
    "title": "",
    "label": "",
    "format": "{{value}}",
    "min": "10",
    "max": "40",
    "colors": [
      "#0088b5",
      "#00b500",
      "#ff8102"
    ],
    "x": 1070,
    "y": 580,
    "wires": [
      
    ]
  },
  {
    "id": "9a807947.ef6658",
    "type": "function",
    "z": "355ec60c.807a7a",
    "name": "Object",
    "func": "return {payload: msg.object_temperature.toFixed(1)}",
    "outputs": 1,
    "noerr": 0,
    "x": 800,
    "y": 600,
    "wires": [
      [
        "dade0bde.466aa8",
        "f1c37d9f.aa073"
      ]
    ]
  },
  {
    "id": "f1c37d9f.aa073",
    "type": "ui_chart",
    "z": "355ec60c.807a7a",
    "name": "",
    "group": "dc83bd1d.36b5",
    "order": 1,
    "width": "",
    "height": "",
    "label": "",
    "chartType": "line",
    "xformat": "%H:%M:%S",
    "interpolate": "linear",
    "nodata": "No Data",
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderUnit": "60",
    "x": 1010,
    "y": 620,
    "wires": [
      [
        
      ],
      [
        
      ]
    ]
  },
  {
    "id": "53ca6a17.b13754",
    "type": "ui_gauge",
    "z": "355ec60c.807a7a",
    "name": "Temperature (\u00b0C)",
    "group": "87e86981.e797f8",
    "order": 1,
    "width": "",
    "height": "",
    "gtype": "gage",
    "title": "",
    "label": "",
    "format": "{{value}}",
    "min": "10",
    "max": "40",
    "colors": [
      "#0088b5",
      "#00b500",
      "#ff8102"
    ],
    "x": 1050,
    "y": 660,
    "wires": [
      
    ]
  },
  {
    "id": "3394449d.95aa7c",
    "type": "function",
    "z": "355ec60c.807a7a",
    "name": "TSYS01",
    "func": "return msg.payload.tsys01;",
    "outputs": 1,
    "noerr": 0,
    "x": 620,
    "y": 680,
    "wires": [
      [
        "1f27aa7c.250d56"
      ]
    ]
  },
  {
    "id": "1f27aa7c.250d56",
    "type": "function",
    "z": "355ec60c.807a7a",
    "name": "Temperature",
    "func": "return {payload: msg.temperature.toFixed(1)}",
    "outputs": 1,
    "noerr": 0,
    "x": 820,
    "y": 680,
    "wires": [
      [
        "53ca6a17.b13754",
        "548ee329.553f1c"
      ]
    ]
  },
  {
    "id": "548ee329.553f1c",
    "type": "ui_chart",
    "z": "355ec60c.807a7a",
    "name": "",
    "group": "87e86981.e797f8",
    "order": 1,
    "width": "",
    "height": "",
    "label": "",
    "chartType": "line",
    "xformat": "%H:%M:%S",
    "interpolate": "linear",
    "nodata": "No Data",
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderUnit": "60",
    "x": 1010,
    "y": 700,
    "wires": [
      [
        
      ],
      [
        
      ]
    ]
  },
  {
    "id": "a19ceab7.a11d28",
    "type": "ibmiot",
    "z": "355ec60c.807a7a",
    "name": "IBM IoT",
    "keepalive": "60",
    "cleansession": true,
    "x": 390,
    "y": 480,
    "wires": [
      [
        "4fe4e2dd.446edc",
        "58d8f121.26395",
        "feabd42e.b564c8",
        "3394449d.95aa7c"
      ]
    ]
  },
  {
    "id": "fea58051.5702d",
    "type": "ui_group",
    "z": "",
    "name": "HTU21D",
    "tab": "580ec59.b6d593c",
    "order": 1,
    "disp": true,
    "width": "6"
  },
  {
    "id": "14d9d85d.995968",
    "type": "ui_group",
    "z": "",
    "name": "MS5637",
    "tab": "580ec59.b6d593c",
    "order": 2,
    "disp": true,
    "width": "6"
  },
  {
    "id": "dc83bd1d.36b5",
    "type": "ui_group",
    "z": "",
    "name": "TSD305",
    "tab": "580ec59.b6d593c",
    "order": 3,
    "disp": true,
    "width": "6"
  },
  {
    "id": "87e86981.e797f8",
    "type": "ui_group",
    "z": "",
    "name": "TSYS01",
    "tab": "580ec59.b6d593c",
    "order": 4,
    "disp": true,
    "width": "6"
  },
  {
    "id": "a19ceab7.a11d28",
    "type": "ibmiot",
    "z": "355ec60c.807a7a",
    "name": "IBM IoT",
    "keepalive": "60",
    "cleansession": true
  },
  {
    "id": "580ec59.b6d593c",
    "type": "ui_tab",
    "z": "f3773c5d.6caa6",
    "name": "TE Connectivity \/ Raspberry Pi Weather Shield",
    "icon": "dashboard",
    "order": "1"
  }
]
