defaults/flow.json
[
   {
      "id":"777ba44e.b4c75c",
      "type":"ui_gauge",
      "z":"e45753e1.a098f",
      "name":"Temperature (\u00b0C)",
      "group":"80bb3ccf.ae474",
      "order":1,
      "width":"",
      "height":"",
      "gtype":"gage",
      "title":"Temperature",
      "label":"",
      "format":"{{value}}",
      "min":"10",
      "max":"40",
      "colors":[
         "#0088b5",
         "#00b500",
         "#ff8102"
      ],
      "x":721,
      "y":50,
      "wires":[

      ]
   },
   {
      "id":"21937bcc.0e0cf4",
      "type":"function",
      "z":"e45753e1.a098f",
      "name":"HTU21D",
      "func":"return msg.payload.htu21d;",
      "outputs":1,
      "noerr":0,
      "x":291,
      "y":110,
      "wires":[
         [
            "a7ccb1ab.f656c",
            "f7b18751.52f3d8"
         ]
      ]
   },
   {
      "id":"a7ccb1ab.f656c",
      "type":"function",
      "z":"e45753e1.a098f",
      "name":"Temperature",
      "func":"return {payload: msg.temperature.toFixed(1)}",
      "outputs":1,
      "noerr":0,
      "x":491,
      "y":70,
      "wires":[
         [
            "777ba44e.b4c75c",
            "2181cff.6e3fb3"
         ]
      ]
   },
   {
      "id":"2181cff.6e3fb3",
      "type":"ui_chart",
      "z":"e45753e1.a098f",
      "name":"",
      "group":"80bb3ccf.ae474",
      "order":1,
      "width":"",
      "height":"",
      "label":"",
      "chartType":"line",
      "xformat":"%H:%M:%S",
      "interpolate":"linear",
      "nodata":"No Data",
      "ymin":"",
      "ymax":"",
      "removeOlder":1,
      "removeOlderUnit":"60",
      "x":681,
      "y":90,
      "wires":[
         [

         ],
         [

         ]
      ]
   },
   {
      "id":"9ca1ef6f.14d7d",
      "type":"ui_gauge",
      "z":"e45753e1.a098f",
      "name":"Humidity (%RH)",
      "group":"80bb3ccf.ae474",
      "order":1,
      "width":"",
      "height":"",
      "gtype":"gage",
      "title":"Humidity",
      "label":"",
      "format":"{{value}}",
      "min":0,
      "max":"100",
      "colors":[
         "#0088b5",
         "#00b500",
         "#ff8102"
      ],
      "x":711,
      "y":130,
      "wires":[

      ]
   },
   {
      "id":"f7b18751.52f3d8",
      "type":"function",
      "z":"e45753e1.a098f",
      "name":"Humidity",
      "func":"return {payload: msg.humidity.toFixed(0)}",
      "outputs":1,
      "noerr":0,
      "x":481,
      "y":150,
      "wires":[
         [
            "9ca1ef6f.14d7d",
            "7d97943d.73ffac"
         ]
      ]
   },
   {
      "id":"7d97943d.73ffac",
      "type":"ui_chart",
      "z":"e45753e1.a098f",
      "name":"",
      "group":"80bb3ccf.ae474",
      "order":1,
      "width":"",
      "height":"",
      "label":"",
      "chartType":"line",
      "xformat":"%H:%M:%S",
      "interpolate":"linear",
      "nodata":"No Data",
      "ymin":"",
      "ymax":"",
      "removeOlder":1,
      "removeOlderUnit":"60",
      "x":681,
      "y":170,
      "wires":[
         [

         ],
         [

         ]
      ]
   },
   {
      "id":"7bbbefe9.80a1",
      "type":"ui_gauge",
      "z":"e45753e1.a098f",
      "name":"Temperature (\u00b0C)",
      "group":"8c069571.089968",
      "order":1,
      "width":"",
      "height":"",
      "gtype":"gage",
      "title":"Temperaure",
      "label":"",
      "format":"{{value}}",
      "min":"10",
      "max":"40",
      "colors":[
         "#0088b5",
         "#00b500",
         "#ff8102"
      ],
      "x":721,
      "y":210,
      "wires":[

      ]
   },
   {
      "id":"b958fb6d.715938",
      "type":"function",
      "z":"e45753e1.a098f",
      "name":"MS5637",
      "func":"return msg.payload.ms5637;",
      "outputs":1,
      "noerr":0,
      "x":291,
      "y":270,
      "wires":[
         [
            "99db41b8.4b7b",
            "a295eda7.9fd99"
         ]
      ]
   },
   {
      "id":"99db41b8.4b7b",
      "type":"function",
      "z":"e45753e1.a098f",
      "name":"Temperature",
      "func":"return {payload: msg.temperature.toFixed(1)}",
      "outputs":1,
      "noerr":0,
      "x":491,
      "y":230,
      "wires":[
         [
            "7bbbefe9.80a1",
            "937db4e1.34f608"
         ]
      ]
   },
   {
      "id":"937db4e1.34f608",
      "type":"ui_chart",
      "z":"e45753e1.a098f",
      "name":"",
      "group":"8c069571.089968",
      "order":1,
      "width":"",
      "height":"",
      "label":"",
      "chartType":"line",
      "xformat":"%H:%M:%S",
      "interpolate":"linear",
      "nodata":"No Data",
      "ymin":"",
      "ymax":"",
      "removeOlder":1,
      "removeOlderUnit":"60",
      "x":681,
      "y":250,
      "wires":[
         [

         ],
         [

         ]
      ]
   },
   {
      "id":"3824fee.99acd02",
      "type":"ui_gauge",
      "z":"e45753e1.a098f",
      "name":"Pressure (hPa)",
      "group":"8c069571.089968",
      "order":1,
      "width":"",
      "height":"",
      "gtype":"gage",
      "title":"Pressure",
      "label":"",
      "format":"{{value}}",
      "min":"950",
      "max":"1050",
      "colors":[
         "#0088b5",
         "#00b500",
         "#ff8102"
      ],
      "x":711,
      "y":290,
      "wires":[

      ]
   },
   {
      "id":"a295eda7.9fd99",
      "type":"function",
      "z":"e45753e1.a098f",
      "name":"Pressure",
      "func":"return {payload: msg.pressure.toFixed(2)}",
      "outputs":1,
      "noerr":0,
      "x":481,
      "y":310,
      "wires":[
         [
            "3824fee.99acd02",
            "ec5fae74.fd1a6"
         ]
      ]
   },
   {
      "id":"ec5fae74.fd1a6",
      "type":"ui_chart",
      "z":"e45753e1.a098f",
      "name":"",
      "group":"8c069571.089968",
      "order":1,
      "width":"",
      "height":"",
      "label":"",
      "chartType":"line",
      "xformat":"%H:%M:%S",
      "interpolate":"linear",
      "nodata":"No Data",
      "ymin":"",
      "ymax":"",
      "removeOlder":1,
      "removeOlderUnit":"60",
      "x":681,
      "y":330,
      "wires":[
         [

         ],
         [

         ]
      ]
   },
   {
      "id":"ee39363f.411758",
      "type":"ui_gauge",
      "z":"e45753e1.a098f",
      "name":"Temperature (\u00b0C)",
      "group":"23c46654.5b8f2a",
      "order":1,
      "width":"",
      "height":"",
      "gtype":"gage",
      "title":"Temperaure",
      "label":"",
      "format":"{{value}}",
      "min":"10",
      "max":"40",
      "colors":[
         "#0088b5",
         "#00b500",
         "#ff8102"
      ],
      "x":721,
      "y":370,
      "wires":[

      ]
   },
   {
      "id":"5f749abd.5f72b4",
      "type":"function",
      "z":"e45753e1.a098f",
      "name":"TSD305",
      "func":"return msg.payload.tsd305;",
      "outputs":1,
      "noerr":0,
      "x":291,
      "y":430,
      "wires":[
         [
            "312c9886.abf788",
            "8f69a40b.fa8ce8"
         ]
      ]
   },
   {
      "id":"312c9886.abf788",
      "type":"function",
      "z":"e45753e1.a098f",
      "name":"Temperature",
      "func":"return {payload: msg.temperature.toFixed(1)}",
      "outputs":1,
      "noerr":0,
      "x":491,
      "y":390,
      "wires":[
         [
            "ee39363f.411758",
            "4fd29eff.5efc7"
         ]
      ]
   },
   {
      "id":"4fd29eff.5efc7",
      "type":"ui_chart",
      "z":"e45753e1.a098f",
      "name":"",
      "group":"23c46654.5b8f2a",
      "order":1,
      "width":"",
      "height":"",
      "label":"",
      "chartType":"line",
      "xformat":"%H:%M:%S",
      "interpolate":"linear",
      "nodata":"No Data",
      "ymin":"",
      "ymax":"",
      "removeOlder":1,
      "removeOlderUnit":"60",
      "x":681,
      "y":410,
      "wires":[
         [

         ],
         [

         ]
      ]
   },
   {
      "id":"dee1db7d.0547c8",
      "type":"ui_gauge",
      "z":"e45753e1.a098f",
      "name":"Object Temperature (\u00b0C)",
      "group":"23c46654.5b8f2a",
      "order":1,
      "width":"",
      "height":"",
      "gtype":"gage",
      "title":"Object Temperature",
      "label":"",
      "format":"{{value}}",
      "min":"10",
      "max":"40",
      "colors":[
         "#0088b5",
         "#00b500",
         "#ff8102"
      ],
      "x":741,
      "y":450,
      "wires":[

      ]
   },
   {
      "id":"8f69a40b.fa8ce8",
      "type":"function",
      "z":"e45753e1.a098f",
      "name":"Object",
      "func":"return {payload: msg.object_temperature.toFixed(1)}",
      "outputs":1,
      "noerr":0,
      "x":471,
      "y":470,
      "wires":[
         [
            "dee1db7d.0547c8",
            "1c38725.ad6c08e"
         ]
      ]
   },
   {
      "id":"1c38725.ad6c08e",
      "type":"ui_chart",
      "z":"e45753e1.a098f",
      "name":"",
      "group":"23c46654.5b8f2a",
      "order":1,
      "width":"",
      "height":"",
      "label":"",
      "chartType":"line",
      "xformat":"%H:%M:%S",
      "interpolate":"linear",
      "nodata":"No Data",
      "ymin":"",
      "ymax":"",
      "removeOlder":1,
      "removeOlderUnit":"60",
      "x":681,
      "y":490,
      "wires":[
         [

         ],
         [

         ]
      ]
   },
   {
      "id":"8a979dc1.07948",
      "type":"ui_gauge",
      "z":"e45753e1.a098f",
      "name":"Temperature (\u00b0C)",
      "group":"315a03b5.4fc01c",
      "order":1,
      "width":"",
      "height":"",
      "gtype":"gage",
      "title":"Temperature",
      "label":"",
      "format":"{{value}}",
      "min":"10",
      "max":"40",
      "colors":[
         "#0088b5",
         "#00b500",
         "#ff8102"
      ],
      "x":721,
      "y":530,
      "wires":[

      ]
   },
   {
      "id":"ff246ae9.44e5d8",
      "type":"function",
      "z":"e45753e1.a098f",
      "name":"TSYS01",
      "func":"return msg.payload.tsys01;",
      "outputs":1,
      "noerr":0,
      "x":291,
      "y":550,
      "wires":[
         [
            "cd9d575a.68a728"
         ]
      ]
   },
   {
      "id":"cd9d575a.68a728",
      "type":"function",
      "z":"e45753e1.a098f",
      "name":"Temperature",
      "func":"return {payload: msg.temperature.toFixed(1)}",
      "outputs":1,
      "noerr":0,
      "x":491,
      "y":550,
      "wires":[
         [
            "8a979dc1.07948",
            "20e1a77.4c81758"
         ]
      ]
   },
   {
      "id":"20e1a77.4c81758",
      "type":"ui_chart",
      "z":"e45753e1.a098f",
      "name":"",
      "group":"315a03b5.4fc01c",
      "order":1,
      "width":"",
      "height":"",
      "label":"",
      "chartType":"line",
      "xformat":"%H:%M:%S",
      "interpolate":"linear",
      "nodata":"No Data",
      "ymin":"",
      "ymax":"",
      "removeOlder":1,
      "removeOlderUnit":"60",
      "x":681,
      "y":570,
      "wires":[
         [

         ],
         [

         ]
      ]
   },
   {
      "id":"28220829.2cbd18",
      "type":"ibmiot in",
      "z":"e45753e1.a098f",
      "authentication":"quickstart",
      "inputType":"evt",
      "deviceId":"",
      "applicationId":"",
      "deviceType":"RaspberryPi",
      "eventType":"piweathershield",
      "commandType":"",
      "format":"json",
      "name":"IBM IoT",
      "service":"",
      "allDevices":"",
      "allApplications":"",
      "allDeviceTypes":"",
      "allEvents":"",
      "allCommands":"",
      "allFormats":"",
      "qos":0,
      "x":81,
      "y":350,
      "wires":[
         [
            "b958fb6d.715938",
            "5f749abd.5f72b4",
            "ff246ae9.44e5d8",
            "21937bcc.0e0cf4"
         ]
      ]
   },
   {
      "id":"80bb3ccf.ae474",
      "type":"ui_group",
      "z":"",
      "name":"HTU21D",
      "tab":"3e335aff.fccef6",
      "order":1,
      "disp":true,
      "width":"6"
   },
   {
      "id":"8c069571.089968",
      "type":"ui_group",
      "z":"",
      "name":"MS5637",
      "tab":"3e335aff.fccef6",
      "order":2,
      "disp":true,
      "width":"6"
   },
   {
      "id":"23c46654.5b8f2a",
      "type":"ui_group",
      "z":"",
      "name":"TSD305",
      "tab":"3e335aff.fccef6",
      "order":3,
      "disp":true,
      "width":"6"
   },
   {
      "id":"315a03b5.4fc01c",
      "type":"ui_group",
      "z":"",
      "name":"TSYS01",
      "tab":"3e335aff.fccef6",
      "order":4,
      "disp":true,
      "width":"6"
   },
   {
      "id":"3e335aff.fccef6",
      "type":"ui_tab",
      "z":"e45753e1.a098f",
      "name":"TE Connectivity \/ Raspberry Pi Weather Shield",
      "icon":"dashboard",
      "order":"1"
   }
]
